/* #EMPH { color: #00b7ff;}

#PG_BTN {background-color: #00a2ff;}*/
.cardImgs { height: 20rem;} 
.CONTACT_CARD { width: 15rem; }

.carousel-caption {
  text-align: left; 
}

.carousel-inner {
  background-color: black;
}

.carousel-overlay{
  opacity: 0.5;
}